{% extends "ucpub/Base.html" %}
{% load otree %}

{% block title %}Player {{pid}}: Contribution{% endblock %}

{% block main %}

<p>
This is round {{ round_number }} of {{ Constants.num_rounds }}.
</p>

<p>
Each of you is endowed with {{ Constants.endowment}} initially, and can decide to contribute any integer amount between 0 and {{ endow_int }}. The contributions of all {{ Constants.players_per_group }} group members will be summed, multiplied by {{ Constants.coefficient }}, and then split in equal parts between you and the other group members.
</p>

{% if round_number > 1 %}

Here is a summary of contributions in your group from previous rounds:

<table class="table">
    <tr>
        <th>Round</th>
        {% for player in players %}
            {% if player.id_in_group == pid %}
            <th>Your contributions</th>
            {% else %}
            <th>Player {{ player.id_in_group }} contributions</th>
            {% endif %}
        {% endfor %}
        <th>Total Contributions</th>
        <th>Share received back</th>
        <th>You kept</th>
        <th>Your payoff</th>
    </tr>
    {% for round_contribs in past_contribs %}
        <tr>
            {% for a_contrib in round_contribs %}
            <td>{{ a_contrib |safe }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endif %}

{% formfields %}

{% next_button %}

{% endblock %}
